  <div class="edit-profile-form">
    <h1>Please Edit Your Profile</h1>
      <%= simple_form_for profile do |f| %>
        <%# change fields to proper sizes for what they are entering %>
        <%= f.select(:age, age_range, {}, {class: "input-lg"}) %>
        <br>
        <br>
        <%= f.select(:sex, gender_select, {}, {class: "input-lg"}) %>
        <br>
        <br>
        <%= f.select(:location, location_select, {}, {class: "input-lg"}) %>
        <br>
        <br>
        <%# add in dating enabled function and username %>
        <%= f.submit "Update Profile", class: "btn btn-success btn-lg" %>
      <% end %>
      <br>
      <%= link_to "I don't care about my profile...I just want to play!!", play_path %>
  </div>

