<div class="form-container">
    <div class="sign-in-sign-up-forms" id="create-account">
      <div class="col-sm-12 col-md-6">
        <div class="form-group sign-up-form">
      <h1 class="welcome-text">Welcome To Apples or Chuck Norris!</h1>
      <p>Please Sign In To Play!</p>
      <br>
      <br>
      <%= simple_form_for "", url: sessions_path, method: :post do |f| %>
        <%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %>
        <br>
        <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
        <br>
        <%= f.submit "Sign In", class: "btn btn-lg btn-primary btn-centered" %>
      <% end %>
      <br>
      <%= link_to "Haven't Made An Account Yet?", new_user_path %>
    <div>
  </div>
</div>
</div>
