<div class="container centered">
  <div class="col-md-3">
        <h2>Filter Statistics</h2>
        <button class="btn btn-primary btn-lg" id="filter-button" data-id="bottom_dogs">Lowest Scoring Items Overall</button>
        <br>
        <hr>
        <h3>Filter Options</h3>

        <div class="filter-form">
          <%= simple_form_for "", method: :post do |f| %>
          <%# change fields to proper sizes for what they are entering %>
            Age Range:
            <%= f.select(:age_1, @age_range, {include_blank: true}, {class: "input-lg"}) %>
            <%= f.select(:age_2, @age_range, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            Gender (optional):
            <%= f.select(:gender, @sex, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            City (optional):
            <%= f.select(:location, @locations, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            Number of Records:
            <%= f.select(:record_count, @record_count, {}, {class: "input-lg"}) %>
            <br>
            <br>
            Winning or Losing Records:
            <%= f.select(:win_or_lose, @win_or_lose_records, {}, {class: "input-lg"}) %>
            <br>
            <br>
          <%= f.submit "Filter Data", class: "btn btn-success btn-lg third-filter-button" %>
        <% end %>
        </div>
  </div>
  <div class="col-md-9 centered">
    <h1>Viewing Statistics</h1>
    <div class="bar-chart-container">
      <canvas id="barChart" width="800" height="300"></canvas>
    </div>
    <br>
    <br>
    <br>
    <div class="pie-chart-container">
      <canvas id="pieChart" width="500" height="500"></canvas>
    </div>
  </div>
</div>


<div class="loading-modal">
  <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <p>Loading Stats...</p>
  </div>
</div>



