<div class="container centered">
  <div class="col-md-3">
        <h1>Statistic Filters</h1>
        <br>
        <hr>
        <h4>Main Stat Filters:</h4>
        <button class="btn btn-danger" id="filter-button" data-id="bottom_dogs">Lowest Scoring Items Overall</button>
        <br>
        <%= link_to "Highest Scoring Items Overall", admin_stats_path, class: "btn btn-success" %>
        <br>
        <hr>
        <h4>Other Filter Options:</h4>
        <div class="stats-title">
          <div class="filter-options-title">
            <p>Win/Lose Filtering</p>
          </div>
             <div class="filter-form" id="win-lose-form">
          <%= simple_form_for "", method: :post do |f| %>
            Age Range:
            <%= f.select(:age_1, @age_range, {include_blank: true}, {class: "input-lg"}) %>
            <%= f.select(:age_2, @age_range, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            Gender (optional):
            <%= f.select(:gender, @sex, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            City (optional):
            <%= f.select(:location, @locations, {include_blank: true}, {class: "input-lg"}) %>
            <br>
            <br>
            Number of Records:
            <%= f.select(:record_count, @record_count, {}, {class: "input-lg"}) %>
            <br>
            <br>
            Winning or Losing Records:
            <%= f.select(:win_or_lose, @win_or_lose_records, {}, {class: "input-lg"}) %>
            <br>
            <br>
          <%= f.submit "Filter Data", class: "btn btn-primary third-filter-button" %>
        <% end %>
        </div>
        </div>

  <div class="stats-title">
    <div class="filter-options-title">
      <p>Tag Filtering</p>
    </div>
        <div class="filter-form">
          <%= simple_form_for "", method: :post do |f| %>
          <%# change fields to proper sizes for what they are entering %>
            Tag 1:
            <%= f.select(:cat_1, @categories, {}, {class: "input-lg"}) %>
            <br>
            <br>
            Tag 2:
            <%= f.select(:cat_2, @categories, {}, {class: "input-lg"}) %>
            <br>
            <br>
          <%= f.submit "Filter Data", class: "btn btn-primary fourth-filter-button" %>
        <% end %>
        </div>
    </div>
</div>

  <div class="col-md-9 centered">
    <h1>Viewing Statistics</h1>
    <br>
    <br>
    <div class="pie-chart-container">
      <canvas id="pieChart" width="700" height="700"></canvas>
    </div>
    <br>
    <br>
    <div class="bar-chart-container">
      <canvas id="barChart" width="800" height="600"></canvas>
    </div>
    
  </div>
</div>


<div class="loading-modal">
  <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <p>Loading Stats...</p>
  </div>
</div>



